@use '../../../styles/variables';
@use '../../../styles/skeleton' as *;

.card {
  width: 190px;
  height: 270px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: border 0.2s ease;
  cursor: pointer;
  border: 2px solid transparent;

  &:hover {
    border-color: variables.$color-accent-primary;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    &--skeleton {
      @include skeleton-base($height: 100%, $width: 100%, $radius: 0);
    }
  }

  &__content {
    position: absolute;
    bottom: 8px;
    left: 8px;
    display: flex;
    flex-direction: row;
    width: calc(100% - 16px);
    justify-content: space-between;
  }

  &--loading {
    @include pulse-animation;
    cursor: default;
    
    &:hover {
      border-color: transparent;
    }

    .rate-item {
      &--skeleton {
        @include skeleton-base($height: 20px, $width: 60px);
      }
    }
  }
}