@use '../../../styles/variables';

.card {
  width: 190px;
  height: 270px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: border 0.2s ease;
  cursor: pointer;
  border: 2px solid transparent;

  &:hover {
    border-color: variables.$color-accent-primary;
  }
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  position: absolute;
  bottom: 8px;
  left: 8px;
}