@use "@styles/variables" as *;
@use '../../../styles/skeleton' as *;

.movie-poster {
  height: 400px;
  width: 300px;
  border-radius: 8px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--skeleton {
    @include skeleton-base($height: 400px, $width: 300px, $radius: 8px);
  }
}