@use '../../../styles/variables';

.movie-poster {
  height: 400px;
  width: 300px;
  border-radius: 8px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--loading {
    background: linear-gradient(90deg, variables.$color-background-card 25%, variables.$color-hover 50%, variables.$color-background-card 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
  }
}

@keyframes loading {
  0% { background-position: 200% 0; }
  100% { background-position: -200% 0; }
}