@use '../pages/HomePage/HomePage.scss';
@use '../pages/NotFoundPage.scss';
@use '../components/atoms/Header/Header.scss';
@use '../components/atoms/RateItem/RateItem.scss';
@use '../components/molecules/Card/Card.scss';
@use '../components/organisms/Carousel/Carousel.scss';
@use '../components/templates/PageTemplate/PageTemplate.scss';