@use "@styles/variables" as *;

.rate-item {
  background: rgba(0, 0, 0, 0.8);
  color: $color-text-primary;
  padding: 4px 8px;
  border-radius: 4px;
  font-family: $font-badge;
  font-size: $rate-item-size;
  font-weight: $badge-text-weight;
  width: fit-content;
}

.rate-green {
  color: $color-rate-green;
}

.rate-light-green {
  color: $color-rate-light-green;
}

.rate-yellow {
  color: $color-rate-yellow;
}

.rate-orange {
  color: $color-rate-orange;
}

.rate-red {
  color: $color-rate-red;
}

.vote-count {
  font-size: $vote-count-size;
  font-weight: $vote-count-weight;
  opacity: 0.8;
  margin-left: 8px;
}