@use "@styles/variables" as *;
@use '../../../styles/skeleton' as *;

.overview {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  h3 {
    color: $color-text-primary;
    font-size: $section-title-size;
    font-weight: $section-title-weight;
    margin: 0px;
  }
  &__text {
    color: $color-text-secondary;
    line-height: 1.6;
    margin-bottom: 16px;
  }

  &--loading {
    .overview__skeleton-line {
      @include skeleton-base();
      margin-bottom: 8px;
      
      &--title {
        @include skeleton-base($height: 24px, $width: 30%);
        margin-top: 16px;
        margin-bottom: 12px;
      }

      &--short P {
        @include skeleton-base($height: 12px, $width: 60%);
      }
    }
  }
}