@use '../../../styles/variables';

body {
  margin: 0;
  background: variables.$color-background-main;
}

.page-template {
  color: variables.$color-text-primary;
}

.page-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}