@use "@styles/variables" as *;

body {
  margin: 0;
  background: $color-background-main;
}

.page-template {
  color: $color-text-primary;
}

.page-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}