@use "@styles/variables" as *;

.home-content {
  h1, h2 {
    margin: 32px 0 16px 0;
    color: $color-text-primary;
  }

  p {
    margin-bottom: 24px;
    color: $color-text-secondary;
  }

  .carousel {
    margin-bottom: 48px;
  }
}