@use "@styles/variables" as *;
@use '../../../styles/skeleton' as *;

.movie-header {
  background: $color-accent-primary;
  padding: 24px 32px;
  border-bottom: 1px solid $color-divider;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 12px;

  &--return {
    cursor: pointer;
  }
}

.cinema-logo {
  font-size: 36px;
}

.title {
  font-family: $font-title;
  font-size: $header-title-size;
  font-weight: $header-title-weight;
  color: $color-black;

  &--loading {
    @include skeleton-base($height: 22px, $width: 100px);
  }
}