@use "@styles/variables" as *;

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  margin: 32px 0;
}

.error-message {
  font-size: $error-404-size;
  color: $color-accent-primary;
  margin: 0;
  text-align: center;
}